[2017-09-24 00:42] erindcole opened #1 "Roadmap: Mental Hues"
# Project Mission and Summary:
### I am working with the mental health community and the open web to create a web application that so that the greater community can better understand issues associated with mental illness.
# Milestones:
### 1. Determine the Stack
###      I need to decide on a SQL database, either SQLite, MySQL, or Postgres.  I plan to code the backend in Python, and the frontend i

[2017-11-07 05:02] erindcole opened #5 "Logo"
#General Ideas:
### Overall, the logo needs to evoke positive emotions. Bright colors, a warm image, and things that generally make a person smile are included.
#Specifications:
###1. Include a representation of a spectrum of a certain color. Pick one color, and show its spectrum in the image.
###2. Some representation of mental health or mental health disorders.
###3. The text "Mental Hues"

[2017-11-07 05:12] erindcole opened #6 "Update README"
I am currently drafting the README file, and would like to ask for suggestions and ideas. What needs to be included in this README so that people wanting to join the community can have a clear idea of this project?

[2017-11-07 05:26] erindcole commented on #5
@yochannah, a fellow Mozilla Open Leader, received an amazing logo during MozFest 2017 for her project @yochannah/code-is-science! So awesome, right?! I want one too!

[2017-11-07 05:38] erindcole opened #7 "Suggestions for Contributor Communications"
As a contributor, how would you want to stay in the loop about the project? Do you like receiving emails in the form of newsletters? Do you want to be able to chat with other contributors? Is it important, as a contributor to Mental Hues, to remain anonymous to other contributors?

[2017-11-07 06:03] andy5995 commented on #7
I like using Slack workspaces (full-featured chat room). If you've never used one before, I'll invite you one that I host and you can check it out.

There's a "channel" option that sends a notification all users in that channel. The default settings for users means they'll got an email notification, or a notification to their mobile app if they have it installed. So i use that sparingly. :)

The o

[2017-11-07 06:21] erindcole opened #8 "Google Form Used to Provide Initial Community Thoughts"
Below is a link to a Google form, which you can use describe ideas, views, and thoughts about mental health disorders. Please answer any or all questions you like, and provide any other thoughts you would like to share with me. I treat all responses to this form as confidential.

https://goo.gl/forms/mzFkPQ1105kEmGrv1

[2017-11-07 06:24] erindcole opened #9 "Finish Contributing Guidelines"
This file is still unfinished. I need to continue the work.

[2017-11-07 10:12] yochannah commented on #5
@erindcole A couple of ways you can glean interest in your tickets is by using projects like [First Timers Only](http://www.firsttimersonly.com/) and [Up for Grabs](https://github.com/up-for-grabs/up-for-grabs.net). They're both projects designed to help people who want to contribute to open source, but need guidance to make their first pull request.

First timers only is pretty easy - just tag a

[2017-11-07 18:19] erindcole commented on #5
@yochannah thanks for the suggestion! I plan to include labels in my Contributing Guidelines, and it would be great to include those links you provided too 😄

[2017-11-09 10:31] Islast commented on #7
I enjoy gitter, it's easy to access, has options for private conversations and supports markdown :sparkles: . On the other hand I believe you need to have a GitHub account to sign in which is not ideal for certain contributors.

I've never warmed to slack, but it could be a good option for mentalhues. To access a slack chatroom you usually need to be invited (via the admin adding your email addres

[2017-11-09 10:35] Islast commented on #8
@erindcole is this something you'd like to be widely shared?

[2017-11-09 18:54] andy5995 commented on #7
@Islast
A Slack workspace has an option to create a public invite link, which I post on the README of my projects. I don't have to manually invite anyone.

Though after reading your comments, I chatted with @julianguyen, the maintainer of the [If Me](https://github.com/julianguyen/ifme/) project. She was unaware of that feature, and apparently it's not enabled in her Slack workspace. Her guess was

[2017-11-09 19:00] bladex1200 commented on #8
Likewise, would it be okay if we shared this in FB friend groups or on our social media to try and get more feedback?

[2017-11-14 21:25] erindcole commented on #8
@Islast and @bladex1200 , yes please!

[2017-11-16 23:34] erindcole commented on #7
Thank you for the suggestions @Islast  and @andy5995 😃 I did make two gitter chats, one public and one private. The public chat is for anyone who would like to start contributing. The private chat is for the initial contributors that I'm bringing in specifically for the beginning stages of the project. A mailing list is a great idea too. I'm thinking about MailChimp. Do you have any other ideas?

[2017-11-17 04:04] andy5995 commented on #7
Hehe.. yeah,I think I know what you mean. :) What matters most is use something you and your contributors are comfortable with.

I don't see a link anywhere to your public Gitter chat room. If you'd like to invite me sometime, I'd be interested in keeping an eye on the `mentalhues` progress and perhaps contributing from time-to-time.

I've used it once as admin working for someone else's project.

[2017-11-17 21:11] erindcole commented on #7
@andy5995 check out the new commit to mentalhues/CONTRIBUTING.md for contact info

[2017-11-17 21:26] brennacole commented on #6
I would suggest talking to a therapist/expert in the field for a list of resources.

[2018-02-14 16:48] erindcole commented on #9
@Islat could you check out my contributing guidelines so far? I cited you too, so was hoping for you to check that out.

[2018-02-15 12:46] Islast commented on #9
Hi @erindcole. I think you've done a great job. Reading this really reinforces my sense of what you're trying to create. I only have one comment, which is that @KirstieJane is the one you should be citing for these guidelines :sparkles:

[2018-03-07 00:10] #9 closed

[2018-03-07 00:18] erindcole opened #10 "Planning a Code Sprint"
I'm starting to lay out some ideas for a code sprint to get the MVP out!!!! Who might be interested in getting involved? I need help figuring out how long we should do this; should we aim for a weekend, a week? And most importantly, I need awesome coders, at any level, to make the static web page, the logo, and get some core functionality finished. Please comment below.

[2018-03-07 00:52] #7 closed

[2018-03-10 03:56] erindcole opened #12 "web framework"
Starting to brainstorm different web frameworks. Thoughts? @sandan started working on a branch using Django.

[2018-03-10 03:58] erindcole opened #13 "static web page"
We need a static web page to help give a better idea of the overall vision of the app. Help/ideas welcome!

[2018-03-10 04:26] sandan commented on #12
Depending on your needs I'd say Django or Flask. I'm coming from a python background so that is what I'm comfortable with. I hear good things about Ruby on Rails.

[2018-03-13 18:09] KirstieJane opened #14 "Host site on github pages at mentalhues.github.io"
If you create a github organisation called `mentalhues` you can host a static website: mentalhues.github.io.

Here are the step by step instructions if you want to go down this route:

1. Get an academic github discount (otherwise you have to pay for organisations I think): https://education.github.com
2. Create an organisation called `mentalhues`. I don't know if it exists yet, but hopefully it d

[2018-03-18 02:08] erindcole commented on #14
Thank you Kirstie! This information is very helpful. I'll comment here or ping you directly if I run into any challenges with setting this up.

[2018-03-19 01:38] erindcole commented on #14
I'm wondering about step #4 on your comment. With what will renaming my organization like that help? I'm curious about this, don't completely understand.

[2018-03-19 10:21] Islast commented on #14
github pages offers to host a website for you at *username*.github.io. To do this the associated repository must be called *username*.github.io, more info here: https://pages.github.com/

Alternatively you can use github to build the project at a url you own https://help.github.com/articles/adding-or-removing-a-custom-domain-for-your-github-pages-site/, I don'tknowin this case if the usual rulesab

[2018-03-20 08:18] KirstieJane commented on #14
Thanks @Islast - yep - if you don't re-name the repo it will be hosted at `https://mentalhues.github.io/mentalhues` whereas if you do re-name the repo (to `mentalhues.github.io`) the website will be found at `https://mentalhues.github.io`.

[2018-03-27 16:57] KirstieJane commented on #14
Hey @erindcole - here's the example I found to integrate flask with github pages https://github.com/sloria/flask-ghpages-example

[2018-03-27 17:03] KirstieJane opened #15 "Make talk for California Women in Computing Conference"
Talk date: 15th April 2018
Length: 12 mins, with 3 mins discussion

Three chapters:

1. Describe Mental Hues - the problem statement - why we need it
2. Describe open leadership training
3. Personal experience of building in the open - scary in theory but not in practise

Stretch goal - highlight the inclusive development *by* people w mental health disorders *for* people with mental health disord

[2018-03-28 20:48] erindcole commented on #15
@KirstieJane I updated your comment with the talking and discussion lengths. Looks like I can squeeze the stretch goal 🎆

[2018-03-28 21:05] KirstieJane commented on #15
That’s great!! :tada:

Here are the resources I didn’t finish entering yesterday (doh!):

Copied from an email from @acabunoc:

https://docs.google.com/presentation/d/1boHHtcOtklSaa7lCbuy8wwDPlhb6CaivkMKXRO2fmOc/edit

https://docs.google.com/presentation/d/1EDlws1Ai7vmEK-xBFILUemy5nbIhrKV6gtQcaXw6TJM/edit#slide=id.g254663fe2f_0_78

[2018-03-28 21:50] erindcole commented on #15
Thanks!!

My slides so far:
https://docs.google.com/presentation/d/1ibYwpm5LeZsACDC4NLvya-gwerCZ_BplFOwH5CepM9M/edit?usp=sharing

[2018-03-28 22:18] erindcole commented on #14
@KirstieJane could you or @Islast check my rename for the repo? Also, checking out the integration with flask now...

[2018-03-29 00:02] erindcole commented on #13
As I'm learning flask, I think I'm going to start with a jekyll theme, as mentioned in #14 . Then I'll transition to ideas from #12 as I learn how to make a website with flask. According to the tutorials, [Frozen-Flask](http://pythonhosted.org/Frozen-Flask/), for static pages, needs a dynamic website first, made with flask. Then Frozen-Flask makes the pages static

[2018-03-29 06:46] KirstieJane commented on #14
Yep! I can see the page at mentalhues.github.io! Way to go!! ✨ 💯 👾

I think this issue can be closed 😸

[2018-04-11 20:01] #14 closed

[2018-04-11 20:03] KirstieJane commented on #15
Slides are awesome! I love the talk so much 😍 😻 💖

Do you want to maybe embed them in the README? Or start a new file in the repo called `presentation-resources.md` which could contain lists of talks you give? (I think this will be the first of many!)

[2018-04-11 20:11] KirstieJane opened #17 "Roles (read/write access) of team members in repo"
I just tried to assign a label to an issue but I saw that I couldn't do it. I think maybe because although I'm a member of the mentalhues organisation I don't have any rights for this repo?

Here's a big help file explaining [repository permissions for an organisation](https://help.github.com/articles/repository-permission-levels-for-an-organization).

I think I'd recommend creating a team and the

[2018-04-11 20:28] KirstieJane opened #18 "Build a set of example hues"
I think it makes sense to start to build a collection of mental hues to help newcomers to the project understand the idea behind the project.

* Where should these example hues go?
  * As a suggestion, what about in a file in the repository called `example-hues.md`?

Here's one from me to get us started:

### Telling my boyfriend why I had that doctors appointment

I'd been dating my (now) boyfrie

[2018-04-12 07:34] KirstieJane opened #19 "Record video of talk describing the creation of mental hues"
I love the talk that @erindcole made for California Women in Computing conference (see #15) so much that I wonder if it would be possible to make a recording of the presentation.

Here's a [tip sheet](https://docs.google.com/document/d/1_buuJOoh3Bbag0V1oRx4iBA1VkjKN4axrghkFERAaus/edit#) that I created based on an original guide by Zannah at Mozilla on how to record a video lecture (so with slides

[2018-04-22 03:44] erindcole commented on #18
@KirstieJane this is wonderful. I'd love to include it, and I like the idea of making a folder of sample stories. To answer your questions above, I think a title should be your choice. It does help give a brief idea of your story, but I don't think a title is required. The length should be up to the user as well, although I imagine that most users would keep their stories to around 300 words.

To

[2018-04-22 03:53] erindcole commented on #19
I am getting to work on this, and am looking into the tools tonight. @KirstieJane I'd like to dedicate the talk to you. As soon as I record it, I will send it your way, and include it in the new file I made according to the comment in Issue #15

[2018-04-22 04:03] erindcole commented on #6
I contacted [Active Minds, UC San Diego chapter](http://activemindsucsd.wixsite.com/am-ucsd), about some resources to include in the README. @KirstieJane what do you think of the doc below? I'm thinking to include a couple warm lines, or at least an explanation of how to reach out to professionals in case someone gets triggered/has a strong response to the content of the repo or site.

https://doc

[2018-04-22 07:07] KirstieJane commented on #17
@erindcole Yes! Just made and then added the *community* label now!

Thank you!

[2018-04-22 07:14] KirstieJane commented on #18
@erindcole awesome! I’m glad it’s close to what you were imagining.

I totally understand the point about not breaking the anonymity of the writers by adding too much detail.

I’m not sure I get the link to making them searchable though? Maybe you can explain that a little more?

What I was thinking for metadata would be ways in which we can link up the hues. I’m imagining that once there are more

[2018-04-22 16:51] richhx commented on #13
From my experience, a very fast way to bootstrap a website is to use Node.js. For example, frontend can be React and backend a simple Express server.

Flask is also a good choice if you prefer python.

[2018-04-22 17:17] richhx commented on #18
Thanks for sharing the story Kristie! That is a great idea. I think having a directory named `example-hues` would be enough and people can add examples with `*.md`. I see no need to restrict the name of the file if they're just examples for people looking at the source code to understand the purpose of the project.

With respect to a title, I don't think we should make it optional. A user should b

[2018-04-23 11:05] Islast commented on #6
I was looking for an international helpline directory and I found [this](http://togetherweare-strong.tumblr.com/helpline) unfortunately the entries for many countries aren't detailed. They also have a [list of chatrooms ordered by subject](http://togetherweare-strong.tumblr.com/chat). This isn't a very polished resource, but I couldn't find anything more comprehensive.

[2018-07-01 17:41] erindcole commented on #5
[MENTAL HUES LOGO_ideas_B.pdf](https://github.com/mentalhues/mentalhues.github.io/files/2153001/MENTAL.HUES.LOGO_ideas_B.pdf)

This is a set of logo ideas that @vanesachristman sent me. Wondering if we could start a discussion about these ideas, and maybe some others, for how the logo should look and what it needs to have to represent the community. Thoughts?

[2018-07-01 17:47] yochannah commented on #5
the third one looks awesome! I also like the way the gradient represents changing / different perspectives, although I wonder if something rainbow-ey might be more representative of multiple different hues :)

The book without the text would also make a nice logo for when space is small, and it might be nice to have a gradient-free black and white logo version that is suitable for printing.

[2018-07-01 17:56] erindcole commented on #18
@KirstieJane absolutely let's make a folder and start compiling Hues. I'd be happy to do that, and can make a Hue of my own too. If you like, you can go ahead and make the folder so you can place your already written Hue there.

@richhx I understand your point about the title. That makes sense too. As far as where the Hues are stored, we haven't decided that yet. There are a couple issues about we

[2018-07-01 18:12] erindcole commented on #19
I recorded my presentation a while back, but have been hesitant to share it publicly. This destigmatization mission is a personal challenge. That said, I do want to share it publicly now. @KirstieJane I sent you the video. What do you think? How should we publish it?

[2018-07-01 18:33] yochannah commented on #5
yes, good point! Not that it's a bad thing, but maybe not the intent. I
wonder if colours could be chosen to not intersect with a pride flag, maybe
- but more than 2 might be good.

On Sun, Jul 1, 2018 at 11:23 AM Erin <notifications@github.com> wrote:

[2018-07-01 19:01] brennacole commented on #5
I would remove the book/any image all  together and make the font all lower case letters to make the logo seem more friendly.  The hues of green in the font are great.  Keep those.

[2018-07-01 19:41] erindcole commented on #5
@brennacole are there other images you might suggest? @yochannah had a point that something like the book might be good for when the logo needs to be smaller, maybe for a favicon.

[2018-07-01 20:11] erindcole opened #21 "Code Review/PR Process"
I just wrote a Hue, and noticed the pull request review process that is currently set up. I believe @sandan created a general review process, which will definitely be needed when we start developing the website more. I'm wondering, should we change the process that currently exists, or leave it as is?

[2018-07-06 17:52] vanesachristman commented on #5
Hi everyone thanks for the input! I'll try a gradient with more colors but not necessarily a rainbow, lowercase letters and ideas for a new icon. The initial idea for the book icon comes from the stories told in the website by the contributors: book of stories with pages in many hues. If you can think of cool ideas for icons please feel free to suggest. :-)
 regards
vanesa

[2018-07-07 18:12] KirstieJane commented on #21
Adding any details about submitting a PR to the CONTRIBUTING file would be really great ✨

I had a look at the pull request template and I think it's a bit "code-heavy". I think that the stage of the project that we're at means that quite a few of those options don't really make lots of sense...

Here's the [pull request template](https://github.com/WhitakerLab/BrainNetworksInPython/blob/master/PU

[2018-07-07 18:16] KirstieJane commented on #19
Wooo - sorry I didn't reply @erindcole!! You. Rock.

Did you send me the video recently, or is it the same one from a while ago?

There are a few options for sharing it with others. The easiest would be to upload it to YouTube and then link to it from either the README or the presentations file (introduced in #22).

Does that make you anxious though? Would you prefer it to be hosted somewhere more

[2018-07-07 18:22] KirstieJane commented on #18
Hi @erindcole & @richhx!

I've left a couple of reviews on #20. The next task is to update the README and CONTRIBUTING files to clarify what the process for collecting example hues are.

I agree with @richhx's point about a title. I think it will help the reader. Lets keep it in 😸

I think that once #20 is merged, and I have added my hue as written above, we should create a new issue to further di

[2018-07-08 11:35] yochannah commented on #13
looping in with some quick thoughts :)

Jekyll's power: automatically building as soon as you push. This is _so_ useful
Jekyll's kryptonite: Mysterious build failures you can't explain or replicate on your own machine.

Jekyll is great for infrequently updated sites without complex needs - it's hosted by github, it builds automatically.

I also think hugo is really good fun, and slightly more stra

[2018-07-08 11:39] KirstieJane commented on #13
Thank you @yochannah!! Does Code Is Science have the autobuild via travis working now? If Mental Hues decides to go with Hugo could they use Code Is Science as a jumping off point (re:autobuild?)

[2018-07-08 11:45] yochannah commented on #13
... not yet! it's pretty close though. Erin, if this *does* interest you
let me know and I'll make sure I finish it off as a priority (others
telling me they need things is one of the best ways to get things done :P )

On Sun, Jul 8, 2018 at 12:39 PM Kirstie Whitaker <notifications@github.com>
wrote:

[2018-07-08 12:08] KirstieJane commented on #13
Awesome! Good to know!! Thanks @yochannah.

Happy to lend any tweeting power I have to draw people in to work on the issue. Just let me know ✨✨✨

[2018-07-18 19:24] vanesachristman commented on #5
Hi everyone I'd like to submit my new versions of the logo based on everybody's suggestions. please let me know what you think.
Thanks,
Vanesa
[MENTAL HUES LOGO_ideas_C.pdf](https://github.com/mentalhues/mentalhues.github.io/files/2207075/MENTAL.HUES.LOGO_ideas_C.pdf)

[2018-07-22 16:36] yochannah commented on #5
I like it - option B is really gorgeous! (They all are, but B is my favourite). Once one logo is settled on it might be nice to double check what it looks like in monochrome too (i.e. if it's printed in black and white will it look ok?) and if it looks odd create a flat / non-gradient version. might not be needed though.

[2018-07-22 22:17] erindcole commented on #5
The colors in the new version are so beautiful. I wonder if tweaking the little icon above the 'u' might be a way to make the logo more distinct. The movement each of the versions captures of the little icon works great. @vanesachristman , what if the icon still incorporated the idea of little images- little circles, little papers... - but the overall image was a pen. Or if there is something that

[2018-07-22 22:34] erindcole commented on #19
I uploaded the video. You can find it here: https://youtu.be/9Siia0bhuJc

[2018-07-22 22:43] erindcole commented on #13
It seems using a jekyll theme would be the most straightforward for right now. My experience is mostly with python, so that is why I mentioned my previous ideas.  I think for my sake, I'd like to use tools that work with python. Node.js is not a bad idea because it can be pretty easy to incorporate javascript with python tools for a backend, as far as I am aware.

@KirstieJane I would love some tw

[2018-07-22 22:47] erindcole commented on #12
I think I would like to stick with Python. I have been asking around, just to find out opinions from different friends to start forming my own opinions about a web framework. I like the idea of being as minimal as possible with tools. Django seems like a good way to go because we will need to do something to store Stories and Hues.

[2018-08-27 20:58] vanesachristman commented on #5
Hi everyone sorry about the wait I had some personal problems the past month.
I created a version of the last logo in gray scale so you can see how it translates in BW and also a new version where you can see a outline of a classic pen wi the dots as it was discussed on the previous commentary please let me know what you  think . thanks, V
[options C and D_Mental_Hues.pdf](https://github.com/menta

[2018-08-27 21:07] brennacole commented on #5
Theses logos are really coming along. I prefer option a to option b. The
image detail emphasizes a hue, the concept imbeded in the name of the
project, as opposed to the pen, which would emphasize the narratives users
type. Depicting a pen might be confusing to someone who looks at the logo
for the first time without knowing details about the project. In essence,
option a is more user friendly.

O

[2018-08-27 21:08] KirstieJane commented on #5
Ditto @brennacole - I like option (a) a lot!

I hope you're doing ok @vanesachristman and taking care of yourself. Thank you so much for helping to building mental hues 💖

[2018-08-28 16:15] vanesachristman commented on #5
Thank you Brenna I agree :-)

[2018-08-28 16:17] vanesachristman commented on #5
Thank you for the good thoughts Kristie, yes things are getting better :-)

[2019-06-03 21:38] erindcole opened #24 "Picking Up Development"
Dear Mental Hues Community,

I had to shuffle my commitment to this project to make room for academic priorities. Now I'd like to pick up the work and get some more progress going. If you are interested in getting involved as we transition into the building phases of Mental Hues and beyond, please comment on this post. I will also be reaching out to individuals who were part of the Core Contributo

[2019-06-04 04:10] erindcole commented on #12
I started reading about more web frameworks. I currently like the flexibility of [MongoDB](https://www.mongodb.com/). Might give rise to an effective way to store Hues and Stories as well. The tech stack with Node.js, MongoDB, and Angular is widely used, which may be a great way to get some initial technical involvement. I'm reading Brad Dayley, Brendan Dayley, and Caleb Dayley's book, Node.js, Mo

[2019-06-04 04:22] erindcole commented on #1
I am interested in changing/developing the Road Map a bit. I believe the first step to the Road Map, Describe the Project, is mostly complete. Are we ready to move on to Step 2, Create MVP?

[2019-06-04 04:28] erindcole commented on #21
I'd like to change the the Pull Request Template to incorporate ideas from the template @Islast made and @KirstieJane referenced in the previous post. I agree, the pull request process would be better if it was less "code-heavy" at this stage of the project. I'd like to start with @sandan 's templates and modify them a bit.

[2019-06-04 21:25] asg017 commented on #24
Hey Erin, I'd love to help out! Is there any specific issue that's good to start with? I see a few `good first issue` labels, but I just wanted to ask before getting started 🙂

[2019-06-04 22:00] asg017 commented on #12
Personally, for server-side stuff, I've found node.js to be pretty beginner-friendly. An express app isn't  too many lines of code, there's a ton of pre-existing examples/packages that are out there. Also, node.js works very well with https://glitch.com, which is as low-barrier as you can get.

For front-end stuff, I personally like React, but something like Angular, Vue, or svelte would work just

[2019-06-04 22:12] erindcole commented on #24
Hi @asg017 . Thanks for asking 😄 The Contributing Guidelines do not define/describe the current list of Labels. I can understand your confusion with which issue to start. Could you create a new issue to address this? The label `good first issue` is probably most suited for someone who is new to open source projects and would like to know about issues that are more "beginner friendly." I encourage

[2019-06-06 01:57] erindcole commented on #12
@asg017, I appreciate the attention to tools that are beginner friendly, especially for someone who may want to try getting involved but who has not tried server-side stuff before. Do you have ideas for tools or frameworks that work best for open source projects? Which have the least restrictive licenses?

[2019-06-06 19:50] asg017 opened #25 "Clarifying how users interact with a Hue"
I just want to clarify a few things about what MentalHues will be before planning anything out!

1. Will a user be able to define their own hue, or will they have to choose from a pre-selected set of hues?

2. Can one hue be associated with multiple mental health topics? For example, if someone already wrote a Hue about their depression and used the color light blue, could someone else use that li

[2019-06-08 20:16] erindcole commented on #6
For now, the README is solid.

[2019-06-08 20:16] #6 closed

[2019-06-08 20:47] erindcole commented on #6
I have realized something about the README for this project. It includes some experiences that are personal to me. Please email me directly at erincole567@gmail.com if there is anything about this project that you would like to discuss and you need changes made and you want to remain anonymous. I will treat all direct correspondence with me as confidential. I am not a health care professional, so

[2019-06-08 21:00] erindcole commented on #8
I believe I have gathered initial thoughts. If you would like to describe more thoughts about the direction of the project, please email me directly at erincole567@gmail.com.

[2019-06-08 21:00] #8 closed

[2019-06-11 05:26] tobybrown commented on #12
Hi, just wanted to chime in. As someone with not that much experience with web development, I think both Django and node.js are beginner-friendly but I've found Django has an easier learning curve especially with the security stuff. I'm most familiar with Angular but any of the already stated front-end frameworks would be fine. I think both Django and nodejs are open source with licenses that have

[2019-06-14 07:18] erindcole commented on #25
Hi @asg017 .  Apologies for not responding to this issue you created earlier. I haven't been feeling great, but am getting better. I've been focusing on my health and other priorities.

Could you revisit the Contributing Guidelines? It seems you created this issue differently than the Contributing Guidelines outline. They state that we work according to issues that already exist. If while working

[2019-06-17 19:37] erindcole commented on #12
Hi @tobybrown. I don't have a lot of experience with web development either, to be honest. I'm mostly familiar with data engineering and cyber security concepts, although there is always more to learn. I appreciate that you brought in some security perspectives too. I think keeping security concepts in mind from the beginning will help preserve anonymity of the story tellers of the application.

M

[2019-06-17 19:41] #25 closed

[2019-06-18 04:31] richhx commented on #12
The tech stack sounds fine. From a technical perspective, if you haven't used any and don't have strong preferences to a language, then I would just pick one and stick with it since they each have their pros and cons. For the web server I would recommend node.js to keep your frontend and backend both in JS (I prefer react in the frontend). Personally, I prefer strict typing in the backend so I wou

[2019-06-18 04:39] richhx commented on #1
I would recommend writing a design document on how the website will work and what sort of features you have in store. This will give people an idea of what they can work on, what the goals and non-goals are, requirements, users, etc. There are plenty of examples online, but here are some examples from Google which are pretty good https://www.chromium.org/chromium-os/chromiumos-design-docs

[2019-06-19 21:45] tobybrown commented on #12
@erindcole Starting a new issue makes sense. I think it seems like the decision is between Django primarily because of being more comfortable with Python and Node.js to have both the frontend and backend in JS like @richhx mentioned and better for working with mongodb. Those seem like the biggest arguments to me and can workaround everything else probably.

Could also use mongodb with Django if yo

[2019-06-21 01:19] tobybrown commented on #1
I think a design document would be great. I can open another issue with a link to a doc people can add to so we can start working on this.

[2019-06-21 01:23] erindcole commented on #1
A design document could be helpful. Let's hold off on doing this for a bit, though. I don't want to make an issue around design until we have some other aspects of the project worked on. @tobybrown I'll let you know when we're ready. @richhx I appreciate the information.

[2019-06-21 01:29] erindcole commented on #24
@asg017 are you interested in working on the explanations of the labels on the Contributing Guidelines? I'd work on it with you.

[2019-06-22 01:21] asg017 commented on #24
Sure! I'll make a PR soon and add you as a reviewer

[2019-06-22 17:29] erindcole commented on #24
@asg017 thanks for the heads up on the PR.  It's important that we reference PRs in Issues before they are made. I want you to wait until I finish the PR template before going that route. I'm going to work on Issue #11 today and I can get back to you when I'm finished. I'll comment here when I'm ready for you to make the PR. For now, you can fork the repo and work on the label descriptions that wa

[2019-06-22 17:36] erindcole commented on #24
@asg017 I don't see a new issue about the labels. Before I see a pull request, I need to see that you are developing the label descriptions in an Issue. You need to make an Issue in order for your PR to be referenced properly. You need to be developing according to the Contributing Guidelines. If anything explained in the Contributing Guidelines is unclear, please ask. I'm trying to modify them to

[2019-06-22 19:05] erindcole commented on #5
I'm trying to figure out how to add the logo to the project. Doing this creates some questions about trademarks and making sure the Mental Hues project remains unique and that people will be able to know when they are actually interacting with the correct organization and project when they contribute. @brennacole , @KirstieJane , @vanesachristman , do you have input on this? I've been mostly looki

[2019-06-23 20:11] sssandan commented on #24
Hey Erin! I am down to contribute any way I can! Haven't seen you in a while, hope all is well!

[2019-06-24 13:41] vanesachristman commented on #5
I agree that we don’t need to worry about registering for now I did send a couple of links on how to do it one of them seems to be very affordable I wanted to ask how I can share all of this on get hub if I need to create a new issue if there is one already there or if email is OK to communicate

Sent from my iPhone

[2019-06-27 19:05] erindcole commented on #24
Hi @sssandan awesome! Check out the issues and let me know what you think. Go ahead and comment on anything you are interested in.

[2019-06-28 21:08] #19 closed

[2019-06-28 21:08] #15 closed

[2019-06-28 21:48] erindcole commented on #12
I'm leaning more towards a document based database at this time. I've been reading more about mongodb lately and am starting to become more convinced that this is the way to go. I think we should definitely use JS for the frontend. I also agree with @richhx that a language with strict typing would be ideal for the backend. Maybe we can start with JS to keep things simple at first, then as the back

[2019-07-06 01:05] sandan commented on #18
I think PR #23 should expand upon the collection process for example hues. I think there are two ways a user may want to submit an example hue:

- Anonymously. In this case, the user can send their hue to a specific email address. Then their hue will be checked for appropriate content and submitted into the `example-hues/` folder on their behalf by one of the Project Maintainers (PMs).

- Not Anon

[2019-07-06 02:19] jeffslofish commented on #18
@sandan For the more static version of the site, for anonymous submissions, there could be a simple form that the submitter fills out that has fields for keywords, the main message body, and anything else that is needed. When submitted, the form would automatically be emailed to one ore more moderators who could then file a pull request on behalf of that person.

In a more dynamic version of the s

[2019-07-06 03:41] sandan commented on #18
Ok so thinking more about this:

- A PR can be anonymous if the user (not nec. a mod) doesn't mind submitting on behalf of someone else. The PR just has to be attributed properly.
- For right now, collecting example hues (either anonymously or nah) ultimately has to go through the PR process. I think it is important to label these PRs appropriately so we don't lose them when migrating to the real

[2019-07-23 00:52] erindcole commented on #18
I appreciate these insights @sandan and @jeffslofish . I completed merging the PR #27 with PR #28 . Not sure of a smoother way to merge a change I made on my forked version of the Mental Hues organization repo. Is there a one step process for merging from a forked branch to an organization branch, and then to a master branch of the organization site?

@sandan , now your fork is behind and needs to

[2019-07-23 18:28] brennacole opened #29 "UX design"
I'd like to brainstorm with everyone how we think the design of the app should look, and how we would like users to interact with hues.  Great job starting with the coding.  This is the tough stuff, the stuff that will need a direction as we continue moving forward.  I would like to contribute by building us some wire frames for the app.  In order to do so, let's chat about how Mental Hues should

[2019-07-23 18:32] brennacole commented on #29
My initial idea is for the user to open the app and see an artistic and simple drawing of a human head.
![image](https://user-images.githubusercontent.com/33473428/61737581-857f0e80-ad56-11e9-847c-bc30588bf98a.png)

Then, the user could select one portion of the top of the head, which would relate to a hue.  After selecting on that section, the user would be able to "add new hue," "read current hu

[2019-07-27 22:52] erindcole commented on #29
Could you add your comment and image to #13 , @brennacole ? These ideas add to the issue already created. We want to only branch to new issues as needed. This mock up looks beautiful, and I think continuing on the thread already there will help others add to the ideas suggest changes.

[2019-07-27 22:57] erindcole commented on #12
I'm going to branch to a new issue in the next week or so and propose a tech stack and tools. I think we are stepping beyond the brainstorming process and are ready to choose. I'd like to use JS, Scala, mongodb, Node.js, and some other open source tools as needed. I plan to propose a schema for the database as well.

[2019-07-27 22:59] erindcole commented on #10
I'm thinking a code sprint is not a good idea for this project. I'd like to take slower steps to develop it, and we have people contributing from many different places. It may be a challenge to get everyone from different time zones coding at the same time. I will most likely close this issue soon.

[2019-07-27 23:02] erindcole commented on #12
@tobybrown and @richhx , in #1 , you suggested  design document. Would you like to work with me on this too? Anyone else interested is welcome to contribute to a design document too. Maybe we could open another issue for this too.

[2019-07-27 23:24] richhx commented on #12
I don't have much time to write the design document myself. However, I'd be more than happy to help review it.

[2019-07-31 10:26] tobybrown commented on #12
Yea, I'd be happy to help work on it. Did ypu want to open up a design doc
with your description of the stack?

On Sat, Jul 27, 2019, 4:24 PM Richard Huang, <notifications@github.com>
wrote:

[2019-08-10 06:13] erindcole commented on #12
That would be great @tobybrown . Go for it!

[2019-08-18 23:30] erindcole commented on #5
@vanesachristman I have been researching trademarks and am in the process of displaying the logo on the organization page for Mental Hues. To answer your question, I first want to make sure the proper license is in place. I am going to create a new folder in the Organization GitHub Page to showcase the logo and allow it to be shared. It will also be the place for future developments and changes to

[2019-09-04 23:05] vanesachristman commented on #5
Hi Erin sorry it took me so long to reply. I was busy for a while and then had to re-figure out how to reply on Git-hub (embarrassing). In answer to your question; yes, I would love to be referred to as the original designer, were there any changes to the logo since my design?
As far as the license you seem to know more about it then I do so I can't really give you feedback except for I trust that

[2019-09-16 23:57] vanesachristman commented on #13
Hi, Guys, I would like to offer my creative services as to creating the graphics (UI UX design) for your mobile app. I know how to use Adobe XD and can provide optimized graphics and specs to whoever will do the coding. Please let me know if you are interested and how I can help.